In [1]:
from src.data_loader import *

In [2]:
daily_csv = DataGenerator('csv', db_info = info, interval = 'day')
daily_csv.stock_data_generator(all = True)
daily_csv.creat_table(exist = 'replace')
daily_csv.new.to_csv('./Dataset/daily_stock.csv')

100%|██████████| 4440/4440 [1:06:10<00:00,  1.12it/s]

DB 연동 성공
DB 저장 완료

In [3]:
min_csv = DataGenerator('csv', db_info = info, interval = 'min')
min_csv.stock_data_generator(all = True)
min_csv.creat_table(exist = 'replace')
min_csv.new.to_csv('./Dataset/tick_stock.csv')

100%|██████████| 4440/4440 [24:17<00:00,  3.05it/s]

ValueError: No objects to concatenate

       Datetime  Open   High   Low  Close  Adj Close   Volume Ticker
0    2008-01-29  9.50   9.99  8.57   8.75   0.702589  1489000   AACG
1    2008-01-30  8.75   9.15  8.30   8.50   0.682515   219000   AACG
2    2008-01-31  8.49  10.30  8.49   9.55   0.766826   182300   AACG
3    2008-02-01  9.93   9.94  9.50   9.51   0.763614    28200   AACG
4    2008-02-04  9.50   9.71  9.50   9.50   0.762811     8300   AACG
...         ...   ...    ...   ...    ...        ...      ...    ...
6913 2022-10-19  4.23   4.35  4.23   4.29   4.290000     7500   AATC
6914 2022-10-20  4.30   4.39  4.27   4.35   4.350000     3800   AATC
6915 2022-10-21  4.40   4.40  4.36   4.36   4.360000     6800   AATC
6916 2022-10-24  4.39   4.40  4.35   4.35   4.350000     2700   AATC
6917 2022-10-25  4.39   4.36  4.36   4.36   4.360000       36   AATC

[41524 rows x 8 columns]