In [1]:
from src.data_loader import *
from src.strategy import *
from src.ticker_selection import *
from src.index import *

In [2]:
df = DataGenerator('db').data_search('AAPL')

기존 데이터 불러오기 성공

In [3]:
df['position'] = rsi_strategy(df)

In [44]:
df['position']

Datetime
1992-12-11    0
1992-12-14    0
1992-12-15    0
1992-12-16    0
1992-12-17    0
             ..
2022-10-28    0
2022-10-31    0
2022-11-01    0
2022-11-02    0
2022-11-03    0
Name: position, Length: 7530, dtype: int64

In [53]:
df

,Open,High,Low,Close,Adj Close,Volume,position
Datetime,,,,,,,
1992-12-11,0.511161,0.520089,0.511161,0.513393,0.422182,120187200.0,0
1992-12-14,0.513393,0.515625,0.506696,0.511161,0.420346,110510400.0,0
1992-12-15,0.506696,0.508929,0.495536,0.503348,0.413921,182537600.0,0
1992-12-16,0.502232,0.508929,0.486607,0.491071,0.403825,225926400.0,0
1992-12-17,0.493304,0.513393,0.493304,0.507813,0.417593,233867200.0,0
...,...,...,...,...,...,...,...
2022-10-28,148.199997,157.500000,147.820007,155.740005,155.740005,164762400.0,0
2022-10-31,153.160004,154.240005,151.919998,153.339996,153.339996,97943200.0,0
2022-11-01,155.080002,155.449997,149.130005,150.649994,150.649994,80379300.0,0
2022-11-02,148.949997,152.169998,145.000000,145.029999,145.029999,93604600.0,0
2022-11-03,142.059998,142.800003,138.750000,138.880005,138.880005,97572100.0,0

In [17]:
df_1 = df.copy()
df_1.reset_index(inplace = True)
df_1['position'].mask(df_1['position']==0, np.NAN, inplace=True)

In [54]:
df_1 = df.copy()
df_1.reset_index(inplace = True)
df_1['position'].mask(df_1['position']==0, np.NAN, inplace=True)
l = list(df_1.dropna().index)
aa = []
for i, idx in enumerate(l):
    if i == 0:
        for i in range(idx-1):
            aa.append(0)
    if (df.iloc[idx-1]['position'] == -1 and df.iloc[idx]['position'] == 1) :
        for i in range(l[i]-l[i-1]-1):
            aa.append(2)
    elif  (df.iloc[idx-1]['position'] == 0 and df.iloc[idx]['position'] == 1):
        for i in range(l[i]-l[i-1]-1):
            aa.append(2)
    else:
        for i in range(l[i]-l[i-1]-1):
            aa.append(0)
    if idx == l[-1]:
        for i in range(len(df)-idx-1):
            aa.append(0)
    aa.append(df['position'].iloc[idx])

df['position_new'] = aa
df[df['position'] != df['position_new']][['position', 'position_new']]

            position  position_new
Datetime
1993-01-12         0             2
1993-01-13         0             2
1993-01-14         0             2
1993-01-15         0             2
1993-01-18         0             2
...              ...           ...
2022-09-27         0             2
2022-09-28         0             2
2022-09-29         0             2
2022-09-30         1             0
2022-11-03         0             1

[1853 rows x 2 columns]

In [55]:
len(aa)

7530

In [ ]:
def position_format(df):
    '''
    -1 -> 22222222 ->  1 2
     0 -> 22222222 ->  1 2
     1 -> 00000000 -> -1 0
     0 -> 00000000 -> -1 0 
    '''
    df = df.copy()
    df.reset_index(inplace = True)
    df[df['positon'] == 0]['position'] == np.NAN
    new_df = df.dropna()
    position = [0]
    for idx in new_df.index:
        if new_df['position'].iloc[idx-1] == -1 and new_df['position'].iloc[[new_df.index][idx-1]] == 1:

            for i in range():





    return df