In [1]:
from DataLoder import *
from Index_Trend import *
from strategy import *

In [2]:
df = pd.read_csv('./Dataset/stock_minute.csv')
df = df.drop(df.columns[0], axis = 1 )

In [3]:
df

,Datetime,Open,High,Low,Close,Adj Close,Volume,Ticker,TickerName
0,2022-10-05 09:30:00-04:00,1.7201,1.7201,1.7201,1.7201,1.7201,3187.0,AACG,ATA Creativity Global American Depositary Shares
1,2022-10-05 11:37:00-04:00,1.8450,1.8500,1.8400,1.8400,1.8400,501.0,AACG,ATA Creativity Global American Depositary Shares
2,2022-10-05 11:55:00-04:00,1.8350,1.8350,1.8350,1.8350,1.8350,301.0,AACG,ATA Creativity Global American Depositary Shares
3,2022-10-05 12:08:00-04:00,1.8475,1.8475,1.8475,1.8475,1.8475,201.0,AACG,ATA Creativity Global American Depositary Shares
4,2022-10-05 12:42:00-04:00,1.8300,1.8300,1.8300,1.8300,1.8300,151.0,AACG,ATA Creativity Global American Depositary Shares
...,...,...,...,...,...,...,...,...,...
4698090,2022-10-17 10:51:00-04:00,8.9400,8.9400,8.9000,8.9000,8.9000,1590.0,ZYXI,Zynex Inc. Common Stock
4698091,2022-10-17 10:52:00-04:00,8.8900,8.9300,8.8800,8.8950,8.8950,9911.0,ZYXI,Zynex Inc. Common Stock
4698092,2022-10-17 10:53:00-04:00,8.9500,8.9500,8.9100,8.9100,8.9100,807.0,ZYXI,Zynex Inc. Common Stock
4698093,2022-10-17 10:58:00-04:00,8.9473,8.9473,8.9473,8.9473,8.9473,724.0,ZYXI,Zynex Inc. Common Stock
4698094,2022-10-17 16:00:00-04:00,9.1200,9.1200,9.1200,9.1200,9.1200,0.0,ZYXI,Zynex Inc. Common Stock

In [4]:
df['Datetime'] = to_datetime(df['Datetime'])

In [27]:
goog_df = df.groupby('Ticker').get_group('GOOG')

In [10]:
goog_rsi = rsi(df.groupby('Ticker').get_group('GOOG'))

In [24]:
behavior = goog_rsi['RSI'].apply(lambda x : rsi_strategy(x, 80, 20))

In [31]:
money = 30000
stock = 0

In [39]:
m_list = []
s_list = []
for idx, trade in enumerate(behavior):
    if money>goog_df.iloc[idx]['Adj Close']:
        if trade == 1:
            money -= goog_df.iloc[idx]['Adj Close']
            stock +=1
        elif trade == -1:
            if stock>=0:
                pass
            else:
                money += goog_df.iloc[idx]['Adj Close']
                stock -=1
        else:
            pass
        m_list.append(money)
        s_list.append(stock)
    else:
        break

In [44]:
s_list[-1]* goog_df.iloc[-1]['Adj Close'] + m_list[-1]

30090.873390197754

In [46]:
(30090 - 30000)/30000

0.003

In [48]:
goog_boll = bollinger(goog_df)

In [53]:
goog_boll

                   Datetime Ticker      center          ub          lb
1043725 2022-10-05 09:30:00   GOOG         NaN         NaN         NaN
1043726 2022-10-05 09:31:00   GOOG         NaN         NaN         NaN
1043727 2022-10-05 09:32:00   GOOG         NaN         NaN         NaN
1043728 2022-10-05 09:33:00   GOOG         NaN         NaN         NaN
1043729 2022-10-05 09:34:00   GOOG         NaN         NaN         NaN
...                     ...    ...         ...         ...         ...
3488168 2022-10-17 10:55:00   GOOG  101.172115  101.626165  100.718065
3488169 2022-10-17 10:56:00   GOOG  101.145615  101.624509  100.666721
3488170 2022-10-17 10:57:00   GOOG  101.122615  101.616269  100.628961
3488171 2022-10-17 10:59:00   GOOG  101.109615  101.606156  100.613074
3488172 2022-10-17 16:00:00   GOOG  101.087365  101.601698  100.573032

[3309 rows x 5 columns]

In [52]:
goog_boll[['ub', 'lb']]

                 ub          lb
1043725         NaN         NaN
1043726         NaN         NaN
1043727         NaN         NaN
1043728         NaN         NaN
1043729         NaN         NaN
...             ...         ...
3488168  101.626165  100.718065
3488169  101.624509  100.666721
3488170  101.616269  100.628961
3488171  101.606156  100.613074
3488172  101.601698  100.573032

[3309 rows x 2 columns]

In [ ]:
goog_boll.apply(lambda x : )
.bollinger_strategy(price, ub, lb)