In [1]:
from DataLoder import *
from Index_Trend import *

In [2]:
from config import *

In [3]:
dg = DataGenerator()
# df = dg.concat()

In [4]:
dg.upload()

100%|██████████| 10/10 [00:03<00:00,  2.77it/s]

NO SUCH DIRECTORY : ./Dataset/stock_minute.csv

In [5]:
dff = pd.read_csv('./Dataset/stock_minute.csv')

In [6]:
dff

,Unnamed: 0,Datetime,Open,High,Low,Close,Adj Close,Volume,Ticker,TickerName
0,0,2022-10-10 11:00:00-04:00,1.8900,1.8900,1.8900,1.8900,1.8900,0,AACG,ATA Creativity Global American Depositary Shares
1,1,2022-10-10 11:09:00-04:00,1.8900,1.8900,1.8900,1.8900,1.8900,550,AACG,ATA Creativity Global American Depositary Shares
2,2,2022-10-10 11:10:00-04:00,1.8900,1.8900,1.8900,1.8900,1.8900,600,AACG,ATA Creativity Global American Depositary Shares
3,3,2022-10-10 12:25:00-04:00,1.8901,1.8901,1.8901,1.8901,1.8901,126,AACG,ATA Creativity Global American Depositary Shares
4,4,2022-10-10 12:46:00-04:00,1.8923,1.8923,1.8923,1.8923,1.8923,2031,AACG,ATA Creativity Global American Depositary Shares
...,...,...,...,...,...,...,...,...,...,...
5892,5892,2022-10-17 09:41:00-04:00,4.4299,4.4299,4.4299,4.4299,4.4299,204,AATC,Autoscope Technologies Corporation Common Stock
5893,5893,2022-10-17 09:55:00-04:00,4.4085,4.4085,4.4085,4.4085,4.4085,500,AATC,Autoscope Technologies Corporation Common Stock
5894,5894,2022-10-17 09:56:00-04:00,4.3700,4.3700,4.3700,4.3700,4.3700,178,AATC,Autoscope Technologies Corporation Common Stock
5895,5895,2022-10-17 10:32:00-04:00,4.3100,4.3100,4.3100,4.3100,4.3100,1974,AATC,Autoscope Technologies Corporation Common Stock
5896,5896,2022-10-17 16:00:00-04:00,4.3870,4.3870,4.3870,4.3870,4.3870,0,AATC,Autoscope Technologies Corporation Common Stock

In [5]:
dff

,Unnamed: 0.1,level_0,Unnamed: 0,index,Datetime,Open,High,Low,Close,Adj Close,Volume,Ticker,TickerName
0,0,0.0,0.0,NaN,2022-10-10 11:00:00-04:00,1.890000,1.8900,1.890000,1.890000,1.890000,0.0,AACG,ATA Creativity Global American Depositary Shares
1,1,1.0,1.0,NaN,2022-10-10 11:09:00-04:00,1.890000,1.8900,1.890000,1.890000,1.890000,550.0,AACG,ATA Creativity Global American Depositary Shares
2,2,2.0,2.0,NaN,2022-10-10 11:10:00-04:00,1.890000,1.8900,1.890000,1.890000,1.890000,600.0,AACG,ATA Creativity Global American Depositary Shares
3,3,3.0,3.0,NaN,2022-10-10 12:25:00-04:00,1.890100,1.8901,1.890100,1.890100,1.890100,126.0,AACG,ATA Creativity Global American Depositary Shares
4,4,4.0,4.0,NaN,2022-10-10 12:46:00-04:00,1.892300,1.8923,1.892300,1.892300,1.892300,2031.0,AACG,ATA Creativity Global American Depositary Shares
...,...,...,...,...,...,...,...,...,...,...,...,...,...
46524,46524,NaN,NaN,NaN,2022-10-17 10:40:00-04:00,18.145000,18.1450,18.145000,18.145000,18.145000,238.0,ACGLN,Arch Capital Group Ltd. Depositary Shares each...
46525,46525,NaN,NaN,NaN,2022-10-17 10:42:00-04:00,18.170200,18.1702,18.059999,18.059999,18.059999,1876.0,ACGLN,Arch Capital Group Ltd. Depositary Shares each...
46526,46526,NaN,NaN,NaN,2022-10-17 10:47:00-04:00,18.059999,18.0700,18.049999,18.049999,18.049999,2885.0,ACGLN,Arch Capital Group Ltd. Depositary Shares each...
46527,46527,NaN,NaN,NaN,2022-10-17 10:58:00-04:00,17.990000,17.9900,17.990000,17.990000,17.990000,1378.0,ACGLN,Arch Capital Group Ltd. Depositary Shares each...
46528,46528,NaN,NaN,NaN,2022-10-17 16:00:00-04:00,18.000000,18.0000,18.000000,18.000000,18.000000,0.0,ACGLN,Arch Capital Group Ltd. Depositary Shares each...

In [7]:
_ = yf.download(tickers = 'GOOG', start = START_DATA, end = END_DATA, interval = '1d', progress=False, show_errors=False)

In [9]:
_.reset_index()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-10-10,99.849998,99.989998,97.870003,98.709999,98.709999,16529900
1,2022-10-11,98.250000,100.120003,97.250000,98.050003,98.050003,21617700
2,2022-10-12,98.269997,99.648003,97.669998,98.300003,98.300003,17343400
3,2022-10-13,95.930000,100.529999,95.269997,99.709999,99.709999,32812200
4,2022-10-14,100.625000,101.290001,97.029999,97.180000,97.180000,22612900
5,2022-10-17,99.519997,101.769997,99.510002,100.779999,100.779999,23264000