In [1]:
NAME = 'postgres'
PW = '12qwaszx'
USER_NAME = 'trading-bot.cimc5knfswfm.ap-northeast-1.rds.amazonaws.com'
PORT = '5432'
DB = 'trading_db'

aws_info = f'postgresql://{NAME}:{PW}@{USER_NAME}:{PORT}/{DB}'
db_info = 'postgresql://junginseo:0000@localhost:5432/stock_db'

# aws_url = "{AWS rds db url: postgresql://{user}:{password}@{rds endpoint}:{port}/{DB name}}"

In [2]:
from DataLoder import read_from_db, stock_data_generator, creat_table
from Index_Trend import *

In [3]:
from pandas_datareader import data as pdr
import datetime as dt
import pandas as pd
import yfinance as yf

In [4]:
# daily_stock = pd.read_csv('./Dataset/stock_d.csv')

In [18]:
# stock_list = pd.read_csv('./Dataset/nasdqp_list.csv')
end_date = dt.datetime.strftime(dt.datetime.today(), '%Y-%m-%d')
st_date = dt.datetime.strftime(dt.datetime.today() - dt.timedelta(weeks=1), '%Y-%m-%d')

In [6]:
exist_list = pd.read_csv('./Dataset/exist_kis_nasdaq_list.csv')

In [7]:
exist_df = stock_data_generator(exist_list, st_date, end_date, '1d')

100%|██████████| 4440/4440 [33:37<00:00,  2.20it/s]

In [8]:
type(exist_df)

tuple

In [10]:
len(exist_df[0]['Ticker'].unique())

4439

In [12]:
exist_df[1]

['HMLP^A']

In [10]:
# exist_df['Datetime'] = exist_df['Datetime'].apply(lambda x: dt.strptime(x[:-6], '%Y-%m-%d %H:%M:%S'))

In [12]:
exist_df.rename(columns={'Datetime':'Date'})

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker,TickerName
0,2022-10-06 11:11:00,1.9400,1.9458,1.9400,1.9458,1.9458,0.0,AACG,ATA Creativity Global American Depositary Shares
1,2022-10-06 11:31:00,1.9484,1.9484,1.9484,1.9484,1.9484,104.0,AACG,ATA Creativity Global American Depositary Shares
2,2022-10-06 11:34:00,1.9500,1.9500,1.9500,1.9500,1.9500,505.0,AACG,ATA Creativity Global American Depositary Shares
3,2022-10-06 11:35:00,1.9500,1.9500,1.9500,1.9500,1.9500,210.0,AACG,ATA Creativity Global American Depositary Shares
4,2022-10-06 11:36:00,1.9700,1.9800,1.9700,1.9800,1.9800,255.0,AACG,ATA Creativity Global American Depositary Shares
...,...,...,...,...,...,...,...,...,...
2739219,2022-10-13 10:48:00,8.7100,8.7100,8.7100,8.7100,8.7100,215.0,ZYXI,Zynex Inc. Common Stock
2739220,2022-10-13 10:52:00,8.7400,8.7415,8.7300,8.7350,8.7350,2524.0,ZYXI,Zynex Inc. Common Stock
2739221,2022-10-13 10:53:00,8.7300,8.7300,8.6900,8.7000,8.7000,2213.0,ZYXI,Zynex Inc. Common Stock
2739222,2022-10-13 10:59:00,8.7000,8.7000,8.7000,8.7000,8.7000,108.0,ZYXI,Zynex Inc. Common Stock
2739223,2022-10-13 16:00:00,9.1300,9.1300,9.1300,9.1300,9.1300,0.0,ZYXI,Zynex Inc. Common Stock

In [13]:
creat_table(exist_df, db_info, 'tick_stock', exist='replace')

In [11]:
sql = "SELECT * FROM tick_stock"
df = read_from_db(sql,db_info)

In [12]:
df

,Datetime,Open,High,Low,Close,Adj Close,Volume,Ticker,TickerName
0,2022-10-06 11:11:00,2.0,2.0,2.0,2.0,2.0,0.0,AACG,ATA Creativity Global American Depositary Shares
1,2022-10-06 11:31:00,2.0,2.0,2.0,2.0,2.0,104.0,AACG,ATA Creativity Global American Depositary Shares
2,2022-10-06 11:34:00,2.0,2.0,2.0,2.0,2.0,505.0,AACG,ATA Creativity Global American Depositary Shares
3,2022-10-06 11:35:00,2.0,2.0,2.0,2.0,2.0,210.0,AACG,ATA Creativity Global American Depositary Shares
4,2022-10-06 11:36:00,2.0,2.0,2.0,2.0,2.0,255.0,AACG,ATA Creativity Global American Depositary Shares
...,...,...,...,...,...,...,...,...,...
2739219,2022-10-13 10:48:00,9.0,9.0,9.0,9.0,9.0,215.0,ZYXI,Zynex Inc. Common Stock
2739220,2022-10-13 10:52:00,9.0,9.0,9.0,9.0,9.0,2524.0,ZYXI,Zynex Inc. Common Stock
2739221,2022-10-13 10:53:00,9.0,9.0,9.0,9.0,9.0,2213.0,ZYXI,Zynex Inc. Common Stock
2739222,2022-10-13 10:59:00,9.0,9.0,9.0,9.0,9.0,108.0,ZYXI,Zynex Inc. Common Stock
2739223,2022-10-13 16:00:00,9.0,9.0,9.0,9.0,9.0,0.0,ZYXI,Zynex Inc. Common Stock

(            Open   High   Low  Close  Adj Close     Volume Ticker  \
 Date
 2008-01-29  9.50   9.99  8.57   8.75   0.702589  1489000.0   AACG
 2008-01-30  8.75   9.15  8.30   8.50   0.682516   219000.0   AACG
 2008-01-31  8.49  10.30  8.49   9.55   0.766826   182300.0   AACG
 2008-02-01  9.93   9.94  9.50   9.51   0.763614    28200.0   AACG
 2008-02-04  9.50   9.71  9.50   9.50   0.762811     8300.0   AACG
 ...          ...    ...   ...    ...        ...        ...    ...
 2022-10-07  9.27   9.40  8.75   8.80   8.800000   141300.0   ZYXI
 2022-10-10  8.74   8.91  8.60   8.71   8.710000    90100.0   ZYXI
 2022-10-11  8.77   9.02  8.51   8.97   8.970000   105100.0   ZYXI
 2022-10-12  8.98   8.98  8.60   8.74   8.740000    68200.0   ZYXI
 2022-10-13  8.61   9.20  8.49   9.13   9.130000   121900.0   ZYXI

                                                   TickerName
 Date
 2008-01-29  ATA Creativity Global American Depositary Shares
 2008-01-30  ATA Creativity Global American Depositary Shares
 2008-01-31  ATA Creativity Global American Depositary Shares
 2008-02-01  ATA Creativity Global American Depositary Shares
 2008-02-04  ATA Creativity Global American Depositary Shares
 ...                                                      ...
 2022-10-07                           Zynex Inc. Common Stock
 2022-10-10                           Zynex Inc. Common Stock
 2022-10-11                           Zynex Inc. Common Stock
 2022-10-12                           Zynex Inc. Common Stock
 2022-10-13                           Zynex Inc. Common Stock

 [9214845 rows x 8 columns],
 ['HMLP^A'])

In [19]:
dummy_df = yf.download(tickers = 'GOOG', start = st_date, end=end_date, interval = '1m', progress=False, show_errors=False)

In [20]:
dummy_df

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2022-10-06 11:00:00-04:00,103.349998,103.364998,103.180000,103.199997,103.199997,0
2022-10-06 11:01:00-04:00,103.209999,103.250000,103.169998,103.175003,103.175003,27189
2022-10-06 11:02:00-04:00,103.169998,103.180000,103.036301,103.050003,103.050003,37070
2022-10-06 11:03:00-04:00,103.059998,103.120003,102.959801,102.979103,102.979103,27496
2022-10-06 11:04:00-04:00,102.989998,102.989998,102.820000,102.910004,102.910004,53118
...,...,...,...,...,...,...
2022-10-13 10:55:00-04:00,96.860001,96.995003,96.809998,96.894997,96.894997,106287
2022-10-13 10:56:00-04:00,96.870003,97.220001,96.870003,97.110001,97.110001,102856
2022-10-13 10:57:00-04:00,97.099998,97.120003,96.949997,96.970001,96.970001,64512
2022-10-13 10:58:00-04:00,96.980003,96.989998,96.809998,96.849998,96.849998,47110
2022-10-13 10:59:00-04:00,96.864998,96.864998,96.699997,96.705399,96.705399,98830

In [ ]:
NAME = 'postgres'
PW = '12qwaszx'
USER_NAME = 'trading-bot.cimc5knfswfm.ap-northeast-1.rds.amazonaws.com'
PORT = '5432'
DB = 'trading_db'

aws_info = f'postgresql://{NAME}:{PW}@{USER_NAME}:{PORT}/{DB}'
db_info = 'postgresql://junginseo:0000@localhost:5432/stock_db'

# aws_url = "{AWS rds db url: postgresql://{user}:{password}@{rds endpoint}:{port}/{DB name}}"

from DataLoder import read_from_db, stock_data_generator, creat_table
from Index_Trend import *
from pandas_datareader import data as pdr
import datetime as dt
import pandas as pd
import yfinance as yf
# daily_stock = pd.read_csv('./Dataset/stock_d.csv')
# stock_list = pd.read_csv('./Dataset/nasdqp_list.csv')
end_date = dt.datetime.strftime(dt.datetime.today(), '%Y-%m-%d')
st_date = dt.datetime.strftime(dt.datetime.today() - dt.timedelta(weeks=1), '%Y-%m-%d')
exist_list = pd.read_csv('./Dataset/exist_kis_nasdaq_list.csv')
exist_df = stock_data_generator(exist_list, st_date, end_date, '1d')
type(exist_df)
len(exist_df[0]['Ticker'].unique())
exist_df[1]
# exist_df['Datetime'] = exist_df['Datetime'].apply(lambda x: dt.strptime(x[:-6], '%Y-%m-%d %H:%M:%S'))
exist_df.rename(columns={'Datetime':'Date'})
creat_table(exist_df, db_info, 'tick_stock', exist='replace')
sql = "SELECT * FROM tick_stock"
df = read_from_db(sql,db_info)
df



dummy_df = yf.download(tickers = 'GOOG', start = st_date, end=end_date, interval = '1m', progress=False, show_errors=False)

dummy_df