In [2]:
NAME = 'postgres'
PW = '12qwaszx'
USER_NAME = 'trading-bot.cimc5knfswfm.ap-northeast-1.rds.amazonaws.com'
PORT = '5432'
DB = 'trading_db'

aws_info = f'postgresql://{NAME}:{PW}@{USER_NAME}:{PORT}/{DB}'
db_info = 'postgresql://junginseo:0000@localhost:5432/stock_db'

# aws_url = "{AWS rds db url: postgresql://{user}:{password}@{rds endpoint}:{port}/{DB name}}"

In [1]:
from data_loader import *

In [2]:
from pandas_datareader import data as pdr
import datetime as dt
import pandas as pd
import yfinance as yf

In [4]:
DB_INFO = 'postgresql://junginseo:0000@localhost:5432/stock_db'

In [5]:
engine = sqlalchemy.create_engine(DB_INFO)
conn = engine.connect()

In [6]:
df = pd.read_csv('./Dataset/stock_minute.csv')

In [8]:
df

,Datetime,Open,High,Low,Close,Adj Close,Volume,Ticker,TickerName
0,2022-10-11 13:50:00-04:00,1.8950,1.8950,1.8950,1.8950,1.8950,0.0,AACG,ATA Creativity Global American Depositary Shares
1,2022-10-12 10:23:00-04:00,1.8900,1.8900,1.8800,1.8800,1.8800,3092.0,AACG,ATA Creativity Global American Depositary Shares
2,2022-10-12 10:24:00-04:00,1.8800,1.8800,1.8800,1.8800,1.8800,0.0,AACG,ATA Creativity Global American Depositary Shares
3,2022-10-12 10:26:00-04:00,1.8850,1.8850,1.8850,1.8850,1.8850,3408.0,AACG,ATA Creativity Global American Depositary Shares
4,2022-10-12 10:41:00-04:00,1.8700,1.8739,1.8700,1.8739,1.8739,356.0,AACG,ATA Creativity Global American Depositary Shares
...,...,...,...,...,...,...,...,...,...
2782779,2022-10-18 10:37:00-04:00,9.3400,9.3400,9.3100,9.3100,9.3100,376.0,ZYXI,Zynex Inc. Common Stock
2782780,2022-10-18 10:39:00-04:00,9.3000,9.3100,9.2900,9.3100,9.3100,904.0,ZYXI,Zynex Inc. Common Stock
2782781,2022-10-18 10:52:00-04:00,9.3300,9.3300,9.3300,9.3300,9.3300,497.0,ZYXI,Zynex Inc. Common Stock
2782782,2022-10-18 10:57:00-04:00,9.3233,9.3245,9.3233,9.3245,9.3245,1140.0,ZYXI,Zynex Inc. Common Stock
2782783,2022-10-18 16:00:00-04:00,9.0200,9.0200,9.0200,9.0200,9.0200,0.0,ZYXI,Zynex Inc. Common Stock

In [7]:
df.to_sql('tick_stock', conn
                    , if_exists=  'append'# ---append, replace
                    , index=False
                    , dtype={
                            # "Datetime": sqlalchemy.DateTime,
                            "TickerName": String(),
                            "Ticker": String(10)
                            ,"Open": BIGINT()
                            , "High": BIGINT()
                            , "Low": BIGINT()
                            , "Close": BIGINT()
                            , "Volume": BIGINT()
                            , 'Adj Close': BIGINT()
                            }
                    )

784

In [6]:
TABLE_NAME = 'tick_stock'
SQL  = f'SELECT * FROM {TABLE_NAME}'

In [7]:
df = pd.read_sql(SQL, conn)

In [8]:
df

,Datetime,Open,High,Low,Close,Adj Close,Volume,Ticker,TickerName
0,2022-10-12 10:37:00,13.0,13.0,12.0,12.0,12.0,40218.0,AAL,American Airlines Group Inc. Common Stock
1,2022-10-12 10:38:00,12.0,13.0,12.0,12.0,12.0,199589.0,AAL,American Airlines Group Inc. Common Stock
2,2022-10-12 10:39:00,12.0,13.0,12.0,12.0,12.0,142304.0,AAL,American Airlines Group Inc. Common Stock
3,2022-10-12 10:40:00,12.0,12.0,12.0,12.0,12.0,202956.0,AAL,American Airlines Group Inc. Common Stock
4,2022-10-12 10:41:00,12.0,12.0,12.0,12.0,12.0,129185.0,AAL,American Airlines Group Inc. Common Stock
...,...,...,...,...,...,...,...,...,...
5522003,2022-10-12 10:32:00,13.0,13.0,13.0,13.0,13.0,86171.0,AAL,American Airlines Group Inc. Common Stock
5522004,2022-10-12 10:33:00,13.0,13.0,13.0,13.0,13.0,186971.0,AAL,American Airlines Group Inc. Common Stock
5522005,2022-10-12 10:34:00,13.0,13.0,13.0,13.0,13.0,125255.0,AAL,American Airlines Group Inc. Common Stock
5522006,2022-10-12 10:35:00,13.0,13.0,13.0,13.0,13.0,76377.0,AAL,American Airlines Group Inc. Common Stock
5522007,2022-10-12 10:36:00,13.0,13.0,12.0,13.0,13.0,135595.0,AAL,American Airlines Group Inc. Common Stock

In [2]:
dl = DataGenerator()
dl.upload()

100%|██████████| 10/10 [00:03<00:00,  2.73it/s]

인터넷에서 새로운 데이터 불러오기 성공
DB에서 이전 데이터 불러오기 성공
SUCCESS!
데이터 병합 성공
DB 연동 성공
DB 저장 완료

,Datetime,Open,High,Low,Close,Adj Close,Volume,Ticker,TickerName
0,2022-10-12 10:37:00,13.000,13.000,12.000,12.0000,12.0000,40218.0,AAL,American Airlines Group Inc. Common Stock
1,2022-10-12 10:38:00,12.000,13.000,12.000,12.0000,12.0000,199589.0,AAL,American Airlines Group Inc. Common Stock
2,2022-10-12 10:39:00,12.000,13.000,12.000,12.0000,12.0000,142304.0,AAL,American Airlines Group Inc. Common Stock
3,2022-10-12 10:40:00,12.000,12.000,12.000,12.0000,12.0000,202956.0,AAL,American Airlines Group Inc. Common Stock
4,2022-10-12 10:41:00,12.000,12.000,12.000,12.0000,12.0000,129185.0,AAL,American Airlines Group Inc. Common Stock
...,...,...,...,...,...,...,...,...,...
5905,2022-10-19 12:12:00-04:00,4.315,4.315,4.315,4.3150,4.3150,301.0,AATC,Autoscope Technologies Corporation Common Stock
5906,2022-10-19 12:42:00-04:00,4.340,4.340,4.340,4.3400,4.3400,503.0,AATC,Autoscope Technologies Corporation Common Stock
5907,2022-10-19 15:32:00-04:00,4.330,4.340,4.330,4.3399,4.3399,4874.0,AATC,Autoscope Technologies Corporation Common Stock
5908,2022-10-20 09:30:00-04:00,4.350,4.350,4.350,4.3500,4.3500,125.0,AATC,Autoscope Technologies Corporation Common Stock
5909,2022-10-20 16:00:00-04:00,4.350,4.350,4.350,4.3500,4.3500,0.0,AATC,Autoscope Technologies Corporation Common Stock

In [4]:
pd.read_csv('./Dataset/stock_minute.csv')

,Datetime,Open,High,Low,Close,Adj Close,Volume,Ticker,TickerName
0,2022-10-11 13:50:00-04:00,1.8950,1.8950,1.8950,1.8950,1.8950,0.0,AACG,ATA Creativity Global American Depositary Shares
1,2022-10-12 10:23:00-04:00,1.8900,1.8900,1.8800,1.8800,1.8800,3092.0,AACG,ATA Creativity Global American Depositary Shares
2,2022-10-12 10:24:00-04:00,1.8800,1.8800,1.8800,1.8800,1.8800,0.0,AACG,ATA Creativity Global American Depositary Shares
3,2022-10-12 10:26:00-04:00,1.8850,1.8850,1.8850,1.8850,1.8850,3408.0,AACG,ATA Creativity Global American Depositary Shares
4,2022-10-12 10:41:00-04:00,1.8700,1.8739,1.8700,1.8739,1.8739,356.0,AACG,ATA Creativity Global American Depositary Shares
...,...,...,...,...,...,...,...,...,...
2782779,2022-10-18 10:37:00-04:00,9.3400,9.3400,9.3100,9.3100,9.3100,376.0,ZYXI,Zynex Inc. Common Stock
2782780,2022-10-18 10:39:00-04:00,9.3000,9.3100,9.2900,9.3100,9.3100,904.0,ZYXI,Zynex Inc. Common Stock
2782781,2022-10-18 10:52:00-04:00,9.3300,9.3300,9.3300,9.3300,9.3300,497.0,ZYXI,Zynex Inc. Common Stock
2782782,2022-10-18 10:57:00-04:00,9.3233,9.3245,9.3233,9.3245,9.3245,1140.0,ZYXI,Zynex Inc. Common Stock
2782783,2022-10-18 16:00:00-04:00,9.0200,9.0200,9.0200,9.0200,9.0200,0.0,ZYXI,Zynex Inc. Common Stock