In [18]:
NAME = 'postgres'
PW = '12qwaszx'
USER_NAME = 'trading-bot.cimc5knfswfm.ap-northeast-1.rds.amazonaws.com'
PORT = '5432'
DB = 'trading_db'

aws_info = f'postgresql://{NAME}:{PW}@{USER_NAME}:{PORT}/{DB}'
db_info = 'postgresql://junginseo:0000@localhost:5432/stock_db'

# aws_url = "{AWS rds db url: postgresql://{user}:{password}@{rds endpoint}:{port}/{DB name}}"

In [1]:
from DataLoder import *
from Index_Trend import *

In [1]:
from pandas_datareader import data as pdr
import datetime as dt
import pandas as pd
import yfinance as yf

In [3]:
df = pd.read_csv('./Dataset/stock_m.csv')

In [4]:
df_origin = pd.read_csv('./Dataset/tick_stock.csv')

In [5]:
df_origin

,Datetime,Open,High,Low,Close,Adj Close,Volume,Ticker,TickerName
0,2022-10-06 11:11:00-04:00,1.9400,1.9458,1.9400,1.9458,1.9458,0.0,AACG,ATA Creativity Global American Depositary Shares
1,2022-10-06 11:31:00-04:00,1.9484,1.9484,1.9484,1.9484,1.9484,104.0,AACG,ATA Creativity Global American Depositary Shares
2,2022-10-06 11:34:00-04:00,1.9500,1.9500,1.9500,1.9500,1.9500,505.0,AACG,ATA Creativity Global American Depositary Shares
3,2022-10-06 11:35:00-04:00,1.9500,1.9500,1.9500,1.9500,1.9500,210.0,AACG,ATA Creativity Global American Depositary Shares
4,2022-10-06 11:36:00-04:00,1.9700,1.9800,1.9700,1.9800,1.9800,255.0,AACG,ATA Creativity Global American Depositary Shares
...,...,...,...,...,...,...,...,...,...
2739219,2022-10-13 10:48:00-04:00,8.7100,8.7100,8.7100,8.7100,8.7100,215.0,ZYXI,Zynex Inc. Common Stock
2739220,2022-10-13 10:52:00-04:00,8.7400,8.7415,8.7300,8.7350,8.7350,2524.0,ZYXI,Zynex Inc. Common Stock
2739221,2022-10-13 10:53:00-04:00,8.7300,8.7300,8.6900,8.7000,8.7000,2213.0,ZYXI,Zynex Inc. Common Stock
2739222,2022-10-13 10:59:00-04:00,8.7000,8.7000,8.7000,8.7000,8.7000,108.0,ZYXI,Zynex Inc. Common Stock
2739223,2022-10-13 16:00:00-04:00,9.1300,9.1300,9.1300,9.1300,9.1300,0.0,ZYXI,Zynex Inc. Common Stock

In [9]:
len(df['Ticker'].value_counts())

7860

In [7]:
df.drop('ticker', axis = 1, inplace= True)
df

,Datetime,Open,High,Low,Close,Adj Close,Volume,Ticker
0,2022-10-05 09:30:00-04:00,129.990005,130.130005,129.619995,129.895004,129.895004,18550.0,A
1,2022-10-05 09:31:00-04:00,130.289993,130.345001,130.089996,130.259995,130.259995,1507.0,A
2,2022-10-05 09:32:00-04:00,130.710007,130.725006,130.550003,130.725006,130.725006,2871.0,A
3,2022-10-05 09:33:00-04:00,130.809998,130.889999,130.710007,130.889999,130.889999,727.0,A
4,2022-10-05 09:34:00-04:00,130.809998,130.949997,130.634995,130.679993,130.679993,3414.0,A
...,...,...,...,...,...,...,...,...
5824382,2022-10-11 15:56:00-04:00,8.940000,8.960000,8.939900,8.960000,8.960000,2831.0,ZYXI
5824383,2022-10-11 15:57:00-04:00,8.970000,9.000000,8.970000,8.970000,8.970000,5992.0,ZYXI
5824384,2022-10-11 15:58:00-04:00,8.980000,8.980000,8.970000,8.970000,8.970000,306.0,ZYXI
5824385,2022-10-11 15:59:00-04:00,8.980000,9.000000,8.960000,8.980000,8.980000,6141.0,ZYXI
5824386,2022-10-11 16:00:00-04:00,8.970000,8.970000,8.970000,8.970000,8.970000,0.0,ZYXI

In [11]:
stock_list = pd.read_csv('./Dataset/exist_kis_nasdaq_list.csv')

In [12]:
stock_list

,Unnamed: 0,Symbol,Name,Last Sale,Net Change,% Change,Market Cap,Country,IPO Year,Volume,Sector,Industry
0,3,AACG,ATA Creativity Global American Depositary Shares,$1.89,-0.0700,-3.571%,5.972133e+07,China,2008.0,11290,Consumer Discretionary,Service to the Health Industry
1,4,AACI,Armada Acquisition Corp. I Common Stock,$9.925,-0.0050,-0.05%,2.055418e+08,United States,2021.0,4059,Industrials,Consumer Electronics/Appliances
2,5,AACIU,Armada Acquisition Corp. I Unit,$10.035,0.0000,0.00%,0.000000e+00,United States,2021.0,3,Industrials,Consumer Electronics/Appliances
3,7,AADI,Aadi Bioscience Inc. Common Stock,$13.61,-0.6900,-4.825%,2.860391e+08,United States,NaN,50390,Health Care,Biotechnology: Pharmaceutical Preparations
4,12,AAL,American Airlines Group Inc. Common Stock,$12.18,-0.5500,-4.321%,7.915123e+09,United States,NaN,37268741,Consumer Discretionary,Air Freight/Delivery Services
...,...,...,...,...,...,...,...,...,...,...,...,...
4435,8383,ZVO,Zovio Inc. Common Stock,$0.1535,-0.0135,-8.084%,5.252936e+06,United States,NaN,2479350,Consumer Discretionary,Other Consumer Services
4436,8384,ZWRK,Z-Work Acquisition Corp. Class A Common Stock,$9.87,-0.0100,-0.101%,2.837625e+08,United States,2021.0,652,Industrials,Consumer Electronics/Appliances
4437,8387,ZY,Zymergen Inc. Common Stock,$2.78,-0.1200,-4.138%,2.901078e+08,United States,2021.0,755183,Industrials,Industrial Specialties
4438,8389,ZYNE,Zynerba Pharmaceuticals Inc. Common Stock,$0.7411,-0.0835,-10.126%,3.390761e+07,United States,2015.0,242308,Health Care,Biotechnology: Pharmaceutical Preparations
4439,8390,ZYXI,Zynex Inc. Common Stock,$8.80,-0.5000,-5.376%,3.379786e+08,United States,NaN,141338,Health Care,Other Pharmaceuticals

In [14]:
df = df[df['Ticker'].isin(stock_list['Symbol'])]

In [ ]:
stock_list['']

In [17]:
df['TickerName'] = df['Ticker'].apply(lambda x: stock_list[stock_list['Symbol']==x]['Name'].item())

/var/folders/rc/pqsyx_fx70b24dfplrpbwtf00000gp/T/ipykernel_80478/1336023871.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TickerName'] = df['Ticker'].apply(lambda x: stock_list[stock_list['Symbol']==x]['Name'].item())

In [22]:
ddd = pd.read_csv('./Dataset/stock_minute.csv')

/var/folders/rc/pqsyx_fx70b24dfplrpbwtf00000gp/T/ipykernel_80478/4208313653.py:1: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  ddd = pd.read_csv('./Dataset/stock_minute.csv')

In [26]:
len(stock_list[~stock_list['Symbol'].isin(ddd['Ticker'])])

54

In [28]:
ddd

,Unnamed: 0.1,Unnamed: 0,Datetime,Open,High,Low,Close,Adj Close,Volume,Ticker,TickerName
0,0,0,2022-10-10 11:00:00-04:00,1.8900,1.8900,1.8900,1.8900,1.8900,0.0,AACG,ATA Creativity Global American Depositary Shares
1,1,1,2022-10-10 11:09:00-04:00,1.8900,1.8900,1.8900,1.8900,1.8900,550.0,AACG,ATA Creativity Global American Depositary Shares
2,2,2,2022-10-10 11:10:00-04:00,1.8900,1.8900,1.8900,1.8900,1.8900,600.0,AACG,ATA Creativity Global American Depositary Shares
3,3,3,2022-10-10 12:25:00-04:00,1.8901,1.8901,1.8901,1.8901,1.8901,126.0,AACG,ATA Creativity Global American Depositary Shares
4,4,4,2022-10-10 12:46:00-04:00,1.8923,1.8923,1.8923,1.8923,1.8923,2031.0,AACG,ATA Creativity Global American Depositary Shares
...,...,...,...,...,...,...,...,...,...,...,...
2781640,2022-10-17 10:51:00-04:00,NaN,NaN,8.9400,8.9400,8.9000,8.9000,8.9000,1590.0,ZYXI,Zynex Inc. Common Stock
2781641,2022-10-17 10:52:00-04:00,NaN,NaN,8.8900,8.9300,8.8800,8.8950,8.8950,9911.0,ZYXI,Zynex Inc. Common Stock
2781642,2022-10-17 10:53:00-04:00,NaN,NaN,8.9500,8.9500,8.9100,8.9100,8.9100,807.0,ZYXI,Zynex Inc. Common Stock
2781643,2022-10-17 10:58:00-04:00,NaN,NaN,8.9473,8.9473,8.9473,8.9473,8.9473,724.0,ZYXI,Zynex Inc. Common Stock
2781644,2022-10-17 16:00:00-04:00,NaN,NaN,9.1200,9.1200,9.1200,9.1200,9.1200,0.0,ZYXI,Zynex Inc. Common Stock