In [1]:
import numpy as np
import pandas as pd

from src.data_loader import *
from src.strategy import *
from src.index import *
import src.ticker_selection as ticker_selection

In [ ]:
class trading:
    def __init__(self, amount, trade, unit, ticker, data):
        self.amount = amount
        self.initial_amount = amount
        self.trade = trade
        self.unit = unit
        self.ticker = ticker
        self.data = data
    
    def get_ticker_list(self):
        '''
        해당 종목의 현재가를 API에서 불러올 수 있는 코드
        '''
        
        stock_standard()
    def place_buy_order(self):
        '''
        해당 종목을 매도하는 코드
        '''
    

    def strategy_

In [ ]:
def select_list():
    for t in stock_list['Symbol'][:30]:
        []

In [3]:
'AAPL'

0        AACG
1        AACI
2       AACIU
3        AADI
4         AAL
        ...
4435      ZVO
4436     ZWRK
4437       ZY
4438     ZYNE
4439     ZYXI
Name: Symbol, Length: 4440, dtype: object

In [18]:
[t if ticker_selection.stock_standard(DataGenerator('db', 'day').data_search(ticker = t)).calculator(1).Standard[-1] else np.NAN for t in stock_list['Symbol'][:30]]

DB에서 데이터 불러오기 성공
DB에서 데이터 불러오기 성공
DB에서 데이터 불러오기 성공
DB에서 데이터 불러오기 성공
DB에서 데이터 불러오기 성공
DB에서 데이터 불러오기 성공
DB에서 데이터 불러오기 성공
DB에서 데이터 불러오기 성공
DB에서 데이터 불러오기 성공
DB에서 데이터 불러오기 성공
DB에서 데이터 불러오기 성공
DB에서 데이터 불러오기 성공
DB에서 데이터 불러오기 성공
DB에서 데이터 불러오기 성공
DB에서 데이터 불러오기 성공
DB에서 데이터 불러오기 성공
DB에서 데이터 불러오기 성공
DB에서 데이터 불러오기 성공
DB에서 데이터 불러오기 성공
DB에서 데이터 불러오기 성공
DB에서 데이터 불러오기 성공
DB에서 데이터 불러오기 성공
DB에서 데이터 불러오기 성공
DB에서 데이터 불러오기 성공
DB에서 데이터 불러오기 성공
DB에서 데이터 불러오기 성공
DB에서 데이터 불러오기 성공

IndexError: index -1 is out of bounds for axis 0 with size 0

In [2]:
sl = []
for t in stock_list['Symbol'][:30]:
    try:
        if ticker_selection.stock_standard(DataGenerator('db', 'day').data_search(ticker = t)).calculator(5).Standard[-1]:
            print(t)
            sl.append(t)
        else :
            pass
    except:
        print('error',t)

AACG
AACI
ABUS
ACAB
error ACACU
ACAH

In [4]:
_ = ticker_selection.stock_standard(DataGenerator('db', 'day').data_search(ticker = 'AACG')).calculator(5)

In [5]:
_

,Open,High,Low,Close,Adj Close,Volume,s1,s2,s3,s4,s5,s6,s7,s8,s9,Standard
Datetime,,,,,,,,,,,,,,,,
2008-07-18,12.03,12.03,11.97,11.97,0.961142,1900.0,0.0,0.0,0.0,1.0,1,0,1.0,0.0,0.0,0
2008-07-21,12.17,12.25,11.98,12.07,0.969172,11300.0,0.0,0.0,1.0,0.0,1,0,1.0,1.0,0.0,0
2008-07-22,12.20,15.45,12.18,15.28,1.226922,54800.0,0.0,1.0,1.0,1.0,0,0,1.0,1.0,0.0,1
2008-07-23,15.00,15.00,13.98,14.75,1.184365,14100.0,0.0,1.0,0.0,1.0,0,0,1.0,0.0,0.0,0
2008-07-24,14.40,14.40,14.00,14.31,1.149035,4700.0,0.0,0.0,0.0,0.0,0,0,1.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-24,1.82,1.82,1.75,1.80,1.800000,5400.0,0.0,1.0,0.0,0.0,1,0,0.0,0.0,0.0,0
2022-10-25,1.80,1.82,1.76,1.76,1.760000,15100.0,0.0,0.0,0.0,0.0,1,0,0.0,0.0,0.0,0
2022-10-25,1.80,1.82,1.76,1.76,1.760000,15100.0,0.0,1.0,0.0,0.0,1,0,1.0,0.0,0.0,0
2022-10-26,1.79,1.81,1.77,1.80,1.800000,17900.0,0.0,1.0,0.0,0.0,1,1,1.0,0.0,0.0,0
2022-10-27,1.83,1.83,1.76,1.81,1.810000,2500.0,0.0,1.0,0.0,1.0,1,0,1.0,1.0,0.0,1