In [1]:
import numpy as np
import pandas as pd

from src.data_loader import *
from src.strategy import *
from src.index import *
import src.ticker_selection as ticker_selection

In [6]:
aa = DataGenerator('db', 'day').data_search(ticker = 'AACG')

In [9]:
aa.iloc[-1]

Open            1.83
High            1.83
Low             1.76
Close           1.81
Adj Close       1.81
Volume       2500.00
Name: 2022-10-27 00:00:00, dtype: float64

In [14]:
account_info = ['Datetime','SN','Ticker', 'Unit', 'Price', 'Amount', 'Position' , 'Days']

pd.DataFrame(columns = account_info)

Empty DataFrame
Columns: [Datetime, Ticker, Unit, Price, Amount, Position]
Index: []

In [16]:
performance_info = ['Datetime','Ticker', 'SN', 'B_price', 'S_price', 'Unit']

pd.DataFrame(columns = performance_info)

Empty DataFrame
Columns: [Datetime, Ticker, SN, B_price, S_price, Unit]
Index: []

In [3]:
class trading:
    def __init__(self, amount, trade, unit = 1, ticker = 'AACG'):
        self.trade_dict = {}
        self.amount_list = []
        self.initial_amount = amount
        self.trade = trade
        self.unit = unit
        self.ticker = ticker
        self.data =  DataGenerator('db', 'day').data_search(ticker = self.ticker)
    
    def get_price(self):
        '''
        해당 종목의 현재가를 API에서 불러올 수 있는 코드
        '''
        self.buy_date, self.price = '''API에서 불러오는 현재가'''

    def place_buy_order(self, bar, units=None, amount=None):
        ''' Place a buy order.
        '''
        if units is None:
            units = int(amount / price)
        self.amount -= (units * price) * (1 + self.ptc) + self.ftc
        self.units += units
        self.trades += 1
        self.buy_date = dt.datetime.now()

    def place_sell_order(self, bar, units=None, amount=None):
        ''' Place a sell order.
        '''
        date, price = self.get_date_price(bar)
        if units is None:
            units = int(amount / price)
        self.amount += (units * price) # * (1 - self.ptc) - self.ftc
        self.units -= units
        self.trades += 1

    def close_out(self):
        ''' Closing out a long or short position.
        '''
        self.amount += self.units * price
        self.units = 0
        self.trades += 1

        print('Final balance   [$] {:.2f}'.format(self.amount))
        perf = ((self.amount - self.initial_amount) /
                self.initial_amount * 100)
        print('Net Performance [%] {:.2f}'.format(perf))
        print('Trades Executed [#] {}'.format(self.trades))
        print('=' * 55)

    def stop(self):
        if (dt.datetime.now()- self.buy_date).days() >14:
            self.close_out()

In [4]:
sl = []
for t in stock_list['Symbol'][:10]:
    try:
        if ticker_selection.stock_standard(DataGenerator('db', 'day').data_search(ticker = t)).calculator[(5]).Standard[-1]:
            print(t)
            sl.append(t)
        else :
            pass
    except:
        print('error',t)

AACG
AACI

In [5]:
sl

['AACG', 'AACI']

In [3]:
_ = ticker_selection.stock_standard(DataGenerator('db', 'day').data_search(ticker = 'AACG')).calculator(5)

In [4]:
_

,Open,High,Low,Close,Adj Close,Volume,s1,s2,s3,s4,s5,s6,s7,s8,s9,Standard
Datetime,,,,,,,,,,,,,,,,
2008-07-18,12.03,12.03,11.97,11.97,0.961142,1900.0,0.0,0.0,0.0,1.0,1,0,1.0,0.0,0.0,0
2008-07-21,12.17,12.25,11.98,12.07,0.969172,11300.0,0.0,0.0,1.0,0.0,1,0,1.0,1.0,0.0,0
2008-07-22,12.20,15.45,12.18,15.28,1.226922,54800.0,0.0,1.0,1.0,1.0,0,0,1.0,1.0,0.0,1
2008-07-23,15.00,15.00,13.98,14.75,1.184365,14100.0,0.0,1.0,0.0,1.0,0,0,1.0,0.0,0.0,0
2008-07-24,14.40,14.40,14.00,14.31,1.149035,4700.0,0.0,0.0,0.0,0.0,0,0,1.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-24,1.82,1.82,1.75,1.80,1.800000,5400.0,0.0,1.0,0.0,0.0,1,0,0.0,0.0,0.0,0
2022-10-25,1.80,1.82,1.76,1.76,1.760000,15100.0,0.0,0.0,0.0,0.0,1,0,0.0,0.0,0.0,0
2022-10-25,1.80,1.82,1.76,1.76,1.760000,15100.0,0.0,1.0,0.0,0.0,1,0,1.0,0.0,0.0,0
2022-10-26,1.79,1.81,1.77,1.80,1.800000,17900.0,0.0,1.0,0.0,0.0,1,1,1.0,0.0,0.0,0
2022-10-27,1.83,1.83,1.76,1.81,1.810000,2500.0,0.0,1.0,0.0,1.0,1,0,1.0,1.0,0.0,1