In [1]:
import mojito

APP_KEY = "PSt0P9Vjk3Int85pcYtDuDYlMqaUA8POkyd4"
APP_SECRET = "fag3QsAyviHhJ70anG44/HBjsBecgHEpLmkE+3AR9o8glN8eUeFQYTVblEd+/6LFo5zv9BFT2i6PD/TFLD0iYnnVzncmZqRKLZBw/GSdsE6/R+6sBKAnpUyox60MOXC9gEWKQj9mkwG1QZaI4ORp6PXwz2D2oNbQ7u0ooLjkXXfk0eE7Fh4="

broker = mojito.KoreaInvestment(api_key=APP_KEY, api_secret=APP_SECRET)

In [2]:
import pprint

In [3]:
samsung_stock = broker.fetch_price("005930")

In [4]:
print("Open:  ", samsung_stock['output']['stck_oprc'])   # 시가
print("High : ", samsung_stock['output']['stck_hgpr'])    # 고가
print("Low  : ", samsung_stock['output']['stck_lwpr'])     # 저가
print("Close: ", samsung_stock['output']['stck_prpr'])    # 종가

Open:   55400
High :  56100
Low  :  55200
Close:  55200

In [5]:
samsung_stock['output'].keys()

dict_keys(['iscd_stat_cls_code', 'marg_rate', 'rprs_mrkt_kor_name', 'bstp_kor_isnm', 'temp_stop_yn', 'oprc_rang_cont_yn', 'clpr_rang_cont_yn', 'crdt_able_yn', 'grmn_rate_cls_code', 'elw_pblc_yn', 'stck_prpr', 'prdy_vrss', 'prdy_vrss_sign', 'prdy_ctrt', 'acml_tr_pbmn', 'acml_vol', 'prdy_vrss_vol_rate', 'stck_oprc', 'stck_hgpr', 'stck_lwpr', 'stck_mxpr', 'stck_llam', 'stck_sdpr', 'wghn_avrg_stck_prc', 'hts_frgn_ehrt', 'frgn_ntby_qty', 'pgtr_ntby_qty', 'pvt_scnd_dmrs_prc', 'pvt_frst_dmrs_prc', 'pvt_pont_val', 'pvt_frst_dmsp_prc', 'pvt_scnd_dmsp_prc', 'dmrs_val', 'dmsp_val', 'cpfn', 'rstc_wdth_prc', 'stck_fcam', 'stck_sspr', 'aspr_unit', 'hts_deal_qty_unit_val', 'lstn_stcn', 'hts_avls', 'per', 'pbr', 'stac_month', 'vol_tnrt', 'eps', 'bps', 'd250_hgpr', 'd250_hgpr_date', 'd250_hgpr_vrss_prpr_rate', 'd250_lwpr', 'd250_lwpr_date', 'd250_lwpr_vrss_prpr_rate', 'stck_dryy_hgpr', 'dryy_hgpr_vrss_prpr_rate', 'dryy_hgpr_date', 'stck_dryy_lwpr', 'dryy_lwpr_vrss_prpr_rate', 'dryy_lwpr_date', 'w52_hgpr', 'w52_hgpr_vrss_prpr_ctrt', 'w52_hgpr_date', 'w52_lwpr', 'w52_lwpr_vrss_prpr_ctrt', 'w52_lwpr_date', 'whol_loan_rmnd_rate', 'ssts_yn', 'stck_shrn_iscd', 'fcam_cnnm', 'cpfn_cnnm', 'frgn_hldn_qty', 'vi_cls_code', 'ovtm_vi_cls_code', 'last_ssts_cntg_qty', 'invt_caful_yn', 'mrkt_warn_cls_code', 'short_over_yn', 'sltr_yn'])

In [3]:
broker = mojito.KoreaInvestment(APP_KEY, APP_SECRET, exchange="나스닥")

In [4]:
import pandas as pd
nasdaq = pd.read_csv('../Dataset/nasdqp_list.csv')

In [5]:
from tqdm import tqdm

In [10]:
non_list = []
for stock in tqdm(nasdaq['Symbol']):
    try:
        _ = broker.fetch_price(stock)
        if _['output']['rsym']=='':
            non_list.append(stock)
        else:
            continue
    except:
        print('ERROR!')

 43%|████▎     | 3646/8391 [04:13<03:03, 25.83it/s]

ERROR!
ERROR!
ERROR!
ERROR!
ERROR!

 44%|████▎     | 3670/8391 [04:14<03:00, 26.18it/s]

ERROR!
ERROR!
ERROR!
ERROR!
ERROR!
ERROR!

 44%|████▍     | 3697/8391 [04:15<02:58, 26.36it/s]

ERROR!
ERROR!
ERROR!
ERROR!
ERROR!
ERROR!

 44%|████▍     | 3721/8391 [04:16<03:06, 25.00it/s]

ERROR!
ERROR!
ERROR!
ERROR!
ERROR!

 45%|████▍     | 3745/8391 [04:17<04:10, 18.53it/s]

ERROR!

 45%|████▍     | 3768/8391 [04:18<03:09, 24.38it/s]

ERROR!
ERROR!

 45%|████▌     | 3789/8391 [04:19<03:01, 25.29it/s]

ERROR!
ERROR!
ERROR!
ERROR!

 45%|████▌     | 3813/8391 [04:20<02:58, 25.68it/s]

ERROR!
ERROR!
ERROR!
ERROR!
ERROR!
ERROR!

 46%|████▌     | 3837/8391 [04:21<03:22, 22.50it/s]

ERROR!
ERROR!

 46%|████▌     | 3861/8391 [04:22<03:08, 23.99it/s]

ERROR!
ERROR!
ERROR!
ERROR!

 46%|████▋     | 3885/8391 [04:23<02:59, 25.13it/s]

ERROR!
ERROR!
ERROR!
ERROR!
ERROR!

 47%|████▋     | 3912/8391 [04:24<03:06, 24.05it/s]

ERROR!
ERROR!
ERROR!
ERROR!

 47%|████▋     | 3933/8391 [04:25<03:00, 24.76it/s]

ERROR!
ERROR!
ERROR!
ERROR!
ERROR!

 47%|████▋     | 3960/8391 [04:26<02:48, 26.33it/s]

ERROR!
ERROR!
ERROR!
ERROR!
ERROR!
ERROR!

 48%|████▊     | 3987/8391 [04:27<02:48, 26.08it/s]

ERROR!
ERROR!
ERROR!
ERROR!
ERROR!
ERROR!

 48%|████▊     | 4011/8391 [04:28<02:55, 24.99it/s]

ERROR!
ERROR!
ERROR!
ERROR!

 48%|████▊     | 4035/8391 [04:29<02:58, 24.44it/s]

ERROR!
ERROR!
ERROR!
ERROR!
ERROR!

 48%|████▊     | 4059/8391 [04:30<02:49, 25.60it/s]

ERROR!
ERROR!
ERROR!
ERROR!
ERROR!

100%|██████████| 8391/8391 [09:43<00:00, 14.38it/s]

In [14]:
len(nasdaq['Symbol'])

8391

In [20]:
len(nasdaq['Symbol'])

8391

In [17]:
exit_df = nasdaq[~nasdaq['Symbol'].isin(non_list)]
exit_df.to_csv('../Dataset/exist_kis_nasdaq_list.csv')

In [18]:
exit_df

,Symbol,Name,Last Sale,Net Change,% Change,Market Cap,Country,IPO Year,Volume,Sector,Industry
3,AACG,ATA Creativity Global American Depositary Shares,$1.89,-0.0700,-3.571%,5.972133e+07,China,2008.0,11290,Consumer Discretionary,Service to the Health Industry
4,AACI,Armada Acquisition Corp. I Common Stock,$9.925,-0.0050,-0.05%,2.055418e+08,United States,2021.0,4059,Industrials,Consumer Electronics/Appliances
5,AACIU,Armada Acquisition Corp. I Unit,$10.035,0.0000,0.00%,0.000000e+00,United States,2021.0,3,Industrials,Consumer Electronics/Appliances
7,AADI,Aadi Bioscience Inc. Common Stock,$13.61,-0.6900,-4.825%,2.860391e+08,United States,NaN,50390,Health Care,Biotechnology: Pharmaceutical Preparations
12,AAL,American Airlines Group Inc. Common Stock,$12.18,-0.5500,-4.321%,7.915123e+09,United States,NaN,37268741,Consumer Discretionary,Air Freight/Delivery Services
...,...,...,...,...,...,...,...,...,...,...,...
8383,ZVO,Zovio Inc. Common Stock,$0.1535,-0.0135,-8.084%,5.252936e+06,United States,NaN,2479350,Consumer Discretionary,Other Consumer Services
8384,ZWRK,Z-Work Acquisition Corp. Class A Common Stock,$9.87,-0.0100,-0.101%,2.837625e+08,United States,2021.0,652,Industrials,Consumer Electronics/Appliances
8387,ZY,Zymergen Inc. Common Stock,$2.78,-0.1200,-4.138%,2.901078e+08,United States,2021.0,755183,Industrials,Industrial Specialties
8389,ZYNE,Zynerba Pharmaceuticals Inc. Common Stock,$0.7411,-0.0835,-10.126%,3.390761e+07,United States,2015.0,242308,Health Care,Biotechnology: Pharmaceutical Preparations
8390,ZYXI,Zynex Inc. Common Stock,$8.80,-0.5000,-5.376%,3.379786e+08,United States,NaN,141338,Health Care,Other Pharmaceuticals

In [11]:
len(non_list)

3951

In [19]:
resp = broker.fetch_balance("63283967")
pprint.pprint(resp)

{'ctx_area_fk100': '63283967^01^N^N^01^01^N^                                                                            ',
 'ctx_area_nk100': '                                                                                                    ',
 'msg1': '조회가 '
         '완료되었습니다                                                           ',
 'msg_cd': 'KIOK0510',
 'output1': [{'bfdy_buy_qty': '0',
              'bfdy_cprs_icdc': '0',
              'bfdy_sll_qty': '0',
              'evlu_amt': '556',
              'evlu_erng_rt': '0.00000000',
              'evlu_pfls_amt': '-66',
              'evlu_pfls_rt': '-10.61',
              'expd_dt': '',
              'fltt_rt': '0.00000000',
              'grta_rt_name': '불가',
              'hldg_qty': '2',
              'item_mgna_rt_name': '100%',
              'loan_amt': '0',
              'loan_dt': '',
              'ord_psbl_qty': '2',
              'pchs_amt': '622',
              'pchs_avg_pric': '311.0000',
              'pdno': '096350',
              'prdt_name': '대창솔루션',
              'prpr': '278',
              'sbst_pric': '190',
              'stck_loan_unpr': '0.0000',
              'stln_slng_chgs': '0',
              'thdt_buyqty': '0',
              'thdt_sll_qty': '0',
              'trad_dvsn_name': '현금'}],
 'output2': [{'asst_icdc_amt': '0',
              'asst_icdc_erng_rt': '0.00000000',
              'bfdy_buy_amt': '0',
              'bfdy_sll_amt': '0',
              'bfdy_tlex_amt': '0',
              'bfdy_tot_asst_evlu_amt': '9938',
              'cma_evlu_amt': '0',
              'd2_auto_rdpt_amt': '0',
              'dnca_tot_amt': '9382',
              'evlu_amt_smtl_amt': '556',
              'evlu_pfls_smtl_amt': '-66',
              'fncg_gld_auto_rdpt_yn': '',
              'nass_amt': '9938',
              'nxdy_auto_rdpt_amt': '0',
              'nxdy_excc_amt': '9382',
              'pchs_amt_smtl_amt': '622',
              'prvs_rcdl_excc_amt': '9382',
              'scts_evlu_amt': '556',
              'thdt_buy_amt': '0',
              'thdt_sll_amt': '0',
              'thdt_tlex_amt': '0',
              'tot_evlu_amt': '9938',
              'tot_loan_amt': '0',
              'tot_stln_slng_chgs': '0'}],
 'rt_cd': '0'}

In [15]:
broker.fetch_price("GOOG")

{'output': {'rsym': 'DNASGOOG',
  'zdiv': '4',
  'base': '98.3000',
  'pvol': '17343431',
  'last': '99.7450',
  'sign': '2',
  'diff': '1.4450',
  'rate': '+1.47',
  'tvol': '8994742',
  'tamt': '878673051',
  'ordy': '매도불가'},
 'rt_cd': '0',
 'msg_cd': 'MCA00000',
 'msg1': '정상처리 되었습니다.'}

In [6]:
import pandas as pd

df = pd.DataFrame(broker.fetch_daily_price("096350")['output']) # 대창 솔루션
dt = pd.to_datetime(df['stck_bsop_date'], format="%Y%m%d")
df.set_index(dt, inplace=True)
df = df[['stck_oprc', 'stck_hgpr', 'stck_lwpr', 'stck_clpr']]
df.columns = ['open', 'high', 'low', 'close']
df.index.name = "date"
df

           open high  low close
date
2022-10-13  295  295  277   278
2022-10-12  294  295  284   293
2022-10-11  311  316  288   294
2022-10-07  306  314  303   311
2022-10-06  300  307  297   307
2022-10-05  308  308  295   300
2022-10-04  295  304  295   301
2022-09-30  288  293  273   293
2022-09-29  294  305  286   290
2022-09-28  310  310  284   286
2022-09-27  303  314  303   309
2022-09-26  322  322  301   308
2022-09-23  344  345  323   327
2022-09-22  343  350  330   341
2022-09-21  360  361  346   350
2022-09-20  369  372  351   361
2022-09-19  384  384  364   369
2022-09-16  386  387  378   380
2022-09-15  383  399  382   386
2022-09-14  377  385  373   383
2022-09-13  380  390  380   388
2022-09-08  377  383  375   380
2022-09-07  390  390  372   375
2022-09-06  388  392  386   389
2022-09-05  388  393  385   386
2022-09-02  389  392  387   390
2022-09-01  397  403  387   388
2022-08-31  400  407  396   399
2022-08-30  400  412  396   400
2022-08-29  408  408  392   400

In [7]:
account = broker.fetch_balance("63283967")
pprint.pprint(account)

{'ctx_area_fk100': '63283967^01^N^N^01^01^N^                                                                            ',
 'ctx_area_nk100': '                                                                                                    ',
 'msg1': '조회가 '
         '완료되었습니다                                                           ',
 'msg_cd': 'KIOK0510',
 'output1': [{'bfdy_buy_qty': '0',
              'bfdy_cprs_icdc': '0',
              'bfdy_sll_qty': '0',
              'evlu_amt': '622',
              'evlu_erng_rt': '0.00000000',
              'evlu_pfls_amt': '0',
              'evlu_pfls_rt': '0.00',
              'expd_dt': '',
              'fltt_rt': '0.00000000',
              'grta_rt_name': '',
              'hldg_qty': '2',
              'item_mgna_rt_name': '',
              'loan_amt': '0',
              'loan_dt': '',
              'ord_psbl_qty': '2',
              'pchs_amt': '622',
              'pchs_avg_pric': '311.0000',
              'pdno': '096350',
              'prdt_name': '대창솔루션',
              'prpr': '311',
              'sbst_pric': '210',
              'stck_loan_unpr': '0.0000',
              'stln_slng_chgs': '0',
              'thdt_buyqty': '2',
              'thdt_sll_qty': '0',
              'trad_dvsn_name': '현금'}],
 'output2': [{'asst_icdc_amt': '0',
              'asst_icdc_erng_rt': '0.00000000',
              'bfdy_buy_amt': '0',
              'bfdy_sll_amt': '0',
              'bfdy_tlex_amt': '0',
              'bfdy_tot_asst_evlu_amt': '10004',
              'cma_evlu_amt': '0',
              'd2_auto_rdpt_amt': '0',
              'dnca_tot_amt': '10004',
              'evlu_amt_smtl_amt': '622',
              'evlu_pfls_smtl_amt': '0',
              'fncg_gld_auto_rdpt_yn': '',
              'nass_amt': '10004',
              'nxdy_auto_rdpt_amt': '0',
              'nxdy_excc_amt': '10004',
              'pchs_amt_smtl_amt': '622',
              'prvs_rcdl_excc_amt': '9382',
              'scts_evlu_amt': '622',
              'thdt_buy_amt': '622',
              'thdt_sll_amt': '0',
              'thdt_tlex_amt': '0',
              'tot_evlu_amt': '10004',
              'tot_loan_amt': '0',
              'tot_stln_slng_chgs': '0'}],
 'rt_cd': '0'}

In [8]:
resp = broker.create_market_buy_order(
    acc_no="63283967",
    ticker="096350",
    quantity=1
)
print(resp)

{'rt_cd': '7', 'msg_cd': 'APBK0919', 'msg1': '장운영일자가 주문일과 상이합니다'}

In [9]:
account = broker.fetch_balance("63283967")
pprint.pprint(account)

{'ctx_area_fk100': '63283967^01^N^N^01^01^N^                                                                            ',
 'ctx_area_nk100': '                                                                                                    ',
 'msg1': '조회가 '
         '완료되었습니다                                                           ',
 'msg_cd': 'KIOK0510',
 'output1': [{'bfdy_buy_qty': '0',
              'bfdy_cprs_icdc': '0',
              'bfdy_sll_qty': '0',
              'evlu_amt': '622',
              'evlu_erng_rt': '0.00000000',
              'evlu_pfls_amt': '0',
              'evlu_pfls_rt': '0.00',
              'expd_dt': '',
              'fltt_rt': '0.00000000',
              'grta_rt_name': '',
              'hldg_qty': '2',
              'item_mgna_rt_name': '',
              'loan_amt': '0',
              'loan_dt': '',
              'ord_psbl_qty': '2',
              'pchs_amt': '622',
              'pchs_avg_pric': '311.0000',
              'pdno': '096350',
              'prdt_name': '대창솔루션',
              'prpr': '311',
              'sbst_pric': '210',
              'stck_loan_unpr': '0.0000',
              'stln_slng_chgs': '0',
              'thdt_buyqty': '2',
              'thdt_sll_qty': '0',
              'trad_dvsn_name': '현금'}],
 'output2': [{'asst_icdc_amt': '0',
              'asst_icdc_erng_rt': '0.00000000',
              'bfdy_buy_amt': '0',
              'bfdy_sll_amt': '0',
              'bfdy_tlex_amt': '0',
              'bfdy_tot_asst_evlu_amt': '10004',
              'cma_evlu_amt': '0',
              'd2_auto_rdpt_amt': '0',
              'dnca_tot_amt': '10004',
              'evlu_amt_smtl_amt': '622',
              'evlu_pfls_smtl_amt': '0',
              'fncg_gld_auto_rdpt_yn': '',
              'nass_amt': '10004',
              'nxdy_auto_rdpt_amt': '0',
              'nxdy_excc_amt': '10004',
              'pchs_amt_smtl_amt': '622',
              'prvs_rcdl_excc_amt': '9382',
              'scts_evlu_amt': '622',
              'thdt_buy_amt': '622',
              'thdt_sll_amt': '0',
              'thdt_tlex_amt': '0',
              'tot_evlu_amt': '10004',
              'tot_loan_amt': '0',
              'tot_stln_slng_chgs': '0'}],
 'rt_cd': '0'}